@font-face {
  font-family: 'Carbon';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/carbon.woff2?v=1.0') format('woff2'),
    url('/fonts/carbon.woff?v=1.0') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/space-grotesk-v16-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/space-grotesk-v16-latin-600.woff2') format('woff2');
}


:root {

  /* FAMILIES */
  --font-family: 'Space Grotesk', Inter, Avenir, Helvetica, Arial, sans-serif;
  --ui-font-family: Carbon, monospace;
  --font-family-display: var(--font-family);

  /* SIZES */
  --font-sm: var(--size-3);
  --font-xs: calc(var(--size-2) + var(--size-1));
  --font-lg: min(calc(var(--size-3) + 1vw * 2), var(--size-5));
  --font-xl: min(calc(var(--size-4) + 1vw * 2), var(--size-6));
  --font-title: min(calc(var(--size-4) + 1vw * 2), var(--size-7));
  --font-display: min(calc(var(--size-7) + 1vw * 2), var(--size-9));

  /* WEIGHTS & SPACING */
  --font-weight-medium: 400;
  --font-weight-bold: 600;

  --letter-spacing-sm: -0.025em;
  --letter-spacing: 0.025em;
  --letter-spacing-md: 0.05em;
  --letter-spacing-lg: 0.1em;

  --line-height-sm: 105%;
  --line-height:    100%;
  --line-height-md: 120%;
  --line-height-lg: 160%;

  --ui-text-transform: uppercase;

}

