.input,
.select {
  --ui-padding-y: var(--size-3);

  min-height: calc(var(--size-7) + var(--size-2));
}

select {
  text-transform: uppercase !important;

  option {
    text-transform: none !important;
  }
}

input,
textarea {
  text-transform: none !important;
}

form label {
  color: var(--muted) !important;

  > span:first-child {
    display: flex;
    align-items: baseline;
    gap: var(--spacer-sm);
  }

  small {
    display: inline-flex;
    gap: var(--spacer-sm);
    align-items: center;
  }
}

