.input {
  position: relative;
  line-height: 0;

  .vue-feather,
  .icon {
    width: var(--size-4);
    height: var(--size-4);
    position: absolute;

    &:first-child {
      left: var(--size-4);
      top: var(--size-4);
    }
    &:last-child {
      right: var(--size-4);
      top: calc(50% - var(--size-4)/2);
    }
  }
}

input,
textarea,
select {
  --padding-y: var(--size-3);

  width: 100%;
  background: var(--gray-z-0);
  padding: var(--padding-y) var(--size-5);

  border: 1px solid var(--gray-z-4);
  border-radius: var(--size-5);
  border-top-left-radius: var(--size-1);
  min-height: var(--size-8);
  line-height: 1;

  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing-md);

  transition: background var(--speed),
              padding var(--speed),
              border var(--speed),
              color var(--speed);

  &:--highlight {
    outline: none;
    border-color: var(--gray-z-5);
  }

  &::placeholder {
    color: var(--gray-z-5);
    opacity: 1;
  }
  &::-ms-input-placeholder {
    color: var(--gray-z-5);
  }

  &.sm {
    padding: var(--size-2) var(--size-4);
    min-height: var(--size-4);
    font-size: var(--font-sm);
  }
}

select.input {
  appearance: none;
  line-height: 1;
  background:
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0iZmVhdGhlciBmZWF0aGVyLWNoZXZyb24tZG93biI+PHBvbHlsaW5lIHBvaW50cz0iNiA5IDEyIDE1IDE4IDkiPjwvcG9seWxpbmU+PC9zdmc+),
    var(--gray-z-0);
  background-repeat: no-repeat, no-repeat;
  background-position: calc(100% - var(--size-4)) 50%, 0% 0%;
  background-size: var(--size-4), 100% 100%;
  padding-right: var(--size-7);
}

textarea {
  overflow: hidden;
  resize: none;
  line-height: var(--line-height-base);
}

.input {
  &.icon-before {
    input, textarea {
      padding-left: calc(var(--size-4) + var(--size-2) + var(--size-5));
    }
  }
  &.icon-after {
    input, textarea {
      padding-right: calc(var(--size-4) + var(--size-2) + var(--size-5));
    }
  }
}

.label {
  font-size: var(--font-sm);
  color: var(--gray-z-5);
  letter-spacing: var(--letter-spacing-lg);
  margin-bottom: var(--size-1);
  display: block;
}

.note {
  font-size: var(--font-sm);
  margin: var(--size-4) 0;
  color: var(--gray-z-5);
}
