.modal {
  > menu.actions {
    margin: var(--spacer) 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.wide {
    max-width: min(calc(100vw - 2*var(--size-4)), 40rem);
  }

  &.extra-wide {
    max-width: min(calc(100vw - 2*var(--size-4)), calc(100dvh - 4*var(--size-8)));
  }
}

body dialog {
  background: var(--gray-z-0);
  border-radius: var(--border-radius);

  .button {
    width: min-content;
  }
}
