.modal {
  > menu.actions {
    margin: var(--spacer) 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

body dialog {
  background: var(--gray-z-0);
  border-radius: var(--border-radius);

  .button {
    width: min-content;
  }
}
