body .popover,
body [popover] {
  position: fixed;
  margin: 0;
  top: auto;
  left: auto;
  top: var(--main-padding-top);
  right: var(--main-padding-x);
  background: var(--gray-z-0);
  border-radius: var(--border-radius);
  padding: var(--spacer);

  > h1 {
    @mixin ui-font;
  }

  p {
    font-size: var(--font-sm);
  }

  .button {
    width: min-content;
  }
}
