nav.secondary,
nav.tertiary {
  display: flex;
  justify-content: space-evenly;
  gap: var(--size-5);
  width: 100%;
  background: var(--semi);
  backdrop-filter: var(--blur);
  z-index: 100;

  > * {
    max-width: 100%;
    width: fit-content;
    display: flex;
    gap: var(--size-2);
    padding: var(--size-4);
    font-size: var(--size-base);
    white-space: nowrap;

    > span {
      @media (--md) {
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .icon {
      flex-shrink: 0;
      width: var(--size-5);
      height: var(--siez-5);
    }
  }

  > a,
  > button {
    color: var(--inactive);
    transition: color var(--speed);

    &.router-link-active:not(.exact),
    &.exact.router-link-exact-active,
    &:--highlight {
      color: var(--color);
    }
  }

  @media (--md) {
    flex-direction: column;
    gap: 0;
    position: fixed;
    width: var(--sidenav-width);
    background: none;
    backdrop-filter: none;
    top: var(--navbar-height);
    bottom: 0;
    padding-bottom: var(--size-8);
    justify-content: center;

    > * {
      padding: var(--size-2) var(--size-6);
      gap: var(--size-5);
    }
  }
}

nav.secondary {
  overflow-x: auto;
  -webkit-overflow-scrolling: auto;

  @media (--md) {
    overflow: inherit;
  }
}

.has-secondary,
.has-tertiary {
  display: grid;
  padding-top: calc(var(--navbar-height) - var(--size-2));
  height: 100%;

  @media (--md) {
    padding: var(--size-5) var(--sidenav-width) var(--size-5) !important;
  }
}

.has-tertiary {
  padding-right: calc(var(--size-7) + var(--size-2));

  @media (--md) {
    padding: 0;
  }
}
