nav.secondary,
nav.tertiary {
  display: flex;
  justify-content: space-evenly;
  gap: var(--size-5);
  width: 100%;
  background: var(--semi);
  backdrop-filter: var(--blur);
  z-index: 100;

  > * {
    display: flex;
    gap: var(--size-2);
    padding: var(--size-4);

    .icon {
      width: var(--size-5);
      height: var(--siez-5);
    }
  }

  > a {
    color: var(--inactive);
    transition: color var(--speed);

    &.router-link-active,
    &:--highlight {
      color: var(--color);
    }
  }

  @media (--md) {
    flex-direction: column;
    gap: 0;
    position: fixed;
    width: var(--sidenav-width);
    background: none;
    backdrop-filter: none;
    top: var(--navbar-height);
    bottom: 0;
    padding-bottom: var(--size-8);
    justify-content: center;

    > * {
      padding: var(--size-2) var(--size-6);
      gap: var(--size-5);
    }
  }
}

.has-tertiary {
  padding-top: calc(var(--navbar-height) - var(--size-2));
  padding-right: calc(var(--size-7) + var(--size-2));

  @media (--md) {
    padding: 0;
  }
}
