.muted {
  color: var(--muted);
}

.no-wrap {
  white-space: nowrap;
}

.visible-sm {
  @media (--md) {
    display: none;
  }
}

.visible-md {
  display: none !important;

  @media (--md) {
    display: initial !important;
  }
}

