.nowrap {
  white-space: nowrap;
}

.centered {
  text-align: center;
}

.muted {
  color: var(--gray-z-6);
}

.hidden-sm {
  @media (--max-sm) {
    display: none;
  }
}

.hidden-md {
  @media (--max-lg) {
    display: none;
  }
}

.visible-sm {
  @media (--md) {
    display: none;
  }
}
